
header {
  background: rgb(45, 30, 80);
  padding: 12px;
}

header ul {
  list-style-type: none;
}

header li {
  display: inline-block;
  border: 1px solid #ffffff;
}

header a {
  text-decoration: none;
  color : #ffffff;
  padding: 12px;
  display: block;
}

.hero {
  background: rgb(05, 0, 0) url('image/nenuphar.jpg') top center no-repeat;
  color : #07105B;
  min-height: 100vh;
}


section {
  min-height: 90vh;
  padding: 42px;
}

.odd {
  background: rgb(139, 120, 120);
}

.even {
  background: rgb(12, 150, 234);
}



.image-block {
  max-width: 640px;
  border: 12px solid #000;
}

.image-block img {
  width : 100%;
display:block;
}

figcaption {
  font-family: 'Fahkwang', serif;
  font-style: italic;

}

footer {
  min-height: 600px;
  background: #0C96EA

  ;
  color : #fff;
}
